:root{
    --grey-color: #E6E7EA;
    --lightgrey-color: #F8F9FC
    --icon-color: #A7A8AA;
    --skyblu-color: #8FD6FA;
    --green-color: #D3F6BA;
    --lightgrey2-color: #F0EBEA;
    --font-size-08: 0.8em;
}


.back-color{
    background-image: linear-gradient(to bottom,
    #318A7E 0vh,
    #318A7E 15vh,
    #D7D6CF 15vh,
    #D3D6D2 50vh,
    #D1D6D4 75vh,
    #CCD6D9 100vh);
}

#container{
    height: 100vh;
}

.img-utente{
    width: 50px;
    border-radius: 50%;
}
.bg_color-white{
    background-color: #fff;
}

.bg_color-grey{
    background-color: var(--grey-color);
}
.bg_color-skyblu{
    background-color: var(--skyblu-color);
}

.icon_color{
    color: #A7A8AA;
}
.bell{
    border-radius: 50%;
    background-color: #fff;
    padding: 15px;
    color: var(--skyblu-color);
}
.f-08{
    font-size: var(--font-size-08);
}
.input-group-text{
    background-color: transparent !important; 
}
.bg_color-lightgrey{
    background-color: #F8F9FC;
}

ul{
    list-style-type: none;     
}
.chat{
    background-image: url(../img/mine.jpg);
}
.send{
    background-color: var(--green-color);
}
.received{
    background-color: #fff;
}
.bg_color-lightgrey-2{
    background-color: var(--lightgrey2-color);
}


